.below-header-bar {
	margin-top: 35px;
}
body section.jumbotron {
	margin-top: 60px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding:0;
}
body section.jumbotron.login {
	background-image: url("../img/fire_bg.jpg");
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	height:600px;
	text-align: center;
	padding:0;
}
section.jumbotron.login form,
section.jumbotron.login form p,
section.jumbotron.login form h1 {
	color: #f00;
}
section.jumbotron.login a {
	color: #0F0;
}